# Assignment 1

We download the daily stock data for Tata Steel from Jan 2023 to Jan 2024 and implement our trading strategy on it.

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
ts = yf.Ticker('tatasteel.ns')
ts_daily = ts.history(start = "2023-03-08", end = "2024-05-01", interval = "1d")
ts_daily

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-08 00:00:00+05:30,101.971819,103.521247,100.712905,103.133888,43939583,0.0,0.0
2023-03-09 00:00:00+05:30,104.441215,105.506446,104.102279,104.780151,51967449,0.0,0.0
2023-03-10 00:00:00+05:30,103.618088,104.925417,103.230729,104.683319,47699832,0.0,0.0
2023-03-13 00:00:00+05:30,104.828575,105.554870,102.988627,103.424408,34552596,0.0,0.0
2023-03-14 00:00:00+05:30,103.618083,105.119095,102.843365,103.037048,48584984,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-24 00:00:00+05:30,162.449997,166.899994,161.449997,165.550003,59894921,0.0,0.0
2024-04-25 00:00:00+05:30,165.399994,168.000000,164.149994,167.699997,50128523,0.0,0.0
2024-04-26 00:00:00+05:30,168.000000,170.699997,165.250000,165.800003,65355111,0.0,0.0
2024-04-29 00:00:00+05:30,168.199997,169.600006,166.899994,167.399994,44906151,0.0,0.0
2024-04-30 00:00:00+05:30,168.399994,168.399994,164.500000,165.000000,55043389,0.0,0.0

In [3]:
def rsi(prices, n=14):
    
    # Calculate the difference between the current and previous close price
    delta = prices.diff()
    
    # Calculate the sum of all positive changes
    gain = delta.where(delta > 0, 0)
    
    # Calculate the sum of all negative changes
    loss = -delta.where(delta < 0, 0)
    
    # Calculate the average gain over the last n periods
    avg_gain = gain.rolling(n).mean()
    
    # Calculate the average loss over the last n periods
    avg_loss = loss.rolling(n).mean()
    
    # Calculate the relative strength
    rs = avg_gain / avg_loss
    
    # Calculate the RSI
    rsi = 100 - (100 / (1 + rs))
    
    return rsi

In [4]:
ts_daily['RSI'] = rsi(ts_daily['Close'])

In [5]:
ts_daily.head(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI
Date,,,,,,,,
2023-03-08 00:00:00+05:30,101.971819,103.521247,100.712905,103.133888,43939583,0.0,0.0,NaN
2023-03-09 00:00:00+05:30,104.441215,105.506446,104.102279,104.780151,51967449,0.0,0.0,NaN
2023-03-10 00:00:00+05:30,103.618088,104.925417,103.230729,104.683319,47699832,0.0,0.0,NaN
2023-03-13 00:00:00+05:30,104.828575,105.554870,102.988627,103.424408,34552596,0.0,0.0,NaN
2023-03-14 00:00:00+05:30,103.618083,105.119095,102.843365,103.037048,48584984,0.0,0.0,NaN
2023-03-15 00:00:00+05:30,104.102281,105.700131,104.005443,105.215935,38930902,0.0,0.0,NaN
2023-03-16 00:00:00+05:30,103.860183,103.860183,100.422384,101.729721,81088340,0.0,0.0,NaN
2023-03-17 00:00:00+05:30,103.085468,103.957024,101.681301,103.618088,48962238,0.0,0.0,NaN
2023-03-20 00:00:00+05:30,102.746533,103.085469,100.567648,101.197105,41569640,0.0,0.0,NaN
2023-03-21 00:00:00+05:30,101.778138,102.068658,101.003427,101.439201,26434897,0.0,0.0,NaN
2023-03-22 00:00:00+05:30,101.439202,102.601272,101.100266,101.487625,25891259,0.0,0.0,NaN
2023-03-23 00:00:00+05:30,101.100268,102.165500,101.051846,101.584465,20913844,0.0,0.0,NaN
2023-03-24 00:00:00+05:30,101.681297,101.729720,98.340343,98.872955,39014278,0.0,0.0,NaN
2023-03-27 00:00:00+05:30,99.308741,100.131874,98.872960,99.066643,24753289,0.0,0.0,37.790722
2023-03-28 00:00:00+05:30,99.599251,99.841349,99.115054,99.260315,18703734,0.0,0.0,38.505747
2023-03-29 00:00:00+05:30,99.260315,101.197102,98.437182,100.325546,37221124,0.0,0.0,36.309541
2023-03-31 00:00:00+05:30,101.681302,102.165499,100.809747,101.197105,34579415,0.0,0.0,39.772744
2023-04-03 00:00:00+05:30,101.778139,101.923400,100.519232,100.809746,21840428,0.0,0.0,41.916177
2023-04-05 00:00:00+05:30,100.809746,101.681302,99.938191,101.536041,25194802,0.0,0.0,45.454558
2023-04-06 00:00:00+05:30,101.536038,101.778137,100.906581,101.051842,21053782,0.0,0.0,35.947725

In [6]:
def calculate_macd(prices, short_window=12, long_window=26, signal_window=9):
    short_ema = prices.ewm(span=short_window, min_periods=short_window, adjust=False).mean()
    long_ema = prices.ewm(span=long_window, min_periods=long_window, adjust=False).mean()
    macd_line = short_ema - long_ema
    signal_line = macd_line.ewm(span=signal_window, min_periods=signal_window, adjust=False).mean()
    return macd_line, signal_line

In [7]:
macd, signal = calculate_macd(ts_daily['Close'])

In [8]:
ts_daily['MACD - Signal'] = macd - signal
ts_daily

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal
Date,,,,,,,,,
2023-03-08 00:00:00+05:30,101.971819,103.521247,100.712905,103.133888,43939583,0.0,0.0,NaN,NaN
2023-03-09 00:00:00+05:30,104.441215,105.506446,104.102279,104.780151,51967449,0.0,0.0,NaN,NaN
2023-03-10 00:00:00+05:30,103.618088,104.925417,103.230729,104.683319,47699832,0.0,0.0,NaN,NaN
2023-03-13 00:00:00+05:30,104.828575,105.554870,102.988627,103.424408,34552596,0.0,0.0,NaN,NaN
2023-03-14 00:00:00+05:30,103.618083,105.119095,102.843365,103.037048,48584984,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00+05:30,162.449997,166.899994,161.449997,165.550003,59894921,0.0,0.0,52.601182,-0.497675
2024-04-25 00:00:00+05:30,165.399994,168.000000,164.149994,167.699997,50128523,0.0,0.0,60.975620,-0.223973
2024-04-26 00:00:00+05:30,168.000000,170.699997,165.250000,165.800003,65355111,0.0,0.0,55.970175,-0.196565
2024-04-29 00:00:00+05:30,168.199997,169.600006,166.899994,167.399994,44906151,0.0,0.0,59.353323,-0.101157
2024-04-30 00:00:00+05:30,168.399994,168.399994,164.500000,165.000000,55043389,0.0,0.0,49.549556,-0.223169

In [9]:
def calculate_rvol(volume_series, period = 21):
    avg_volume = volume_series.rolling(window=period).mean()
    # Calculate the relative volume
    rvol = volume_series / avg_volume
    return rvol

In [10]:
ts_daily['RVOL'] = calculate_rvol(ts_daily['Volume'])
ts_daily

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal,RVOL
Date,,,,,,,,,,
2023-03-08 00:00:00+05:30,101.971819,103.521247,100.712905,103.133888,43939583,0.0,0.0,NaN,NaN,NaN
2023-03-09 00:00:00+05:30,104.441215,105.506446,104.102279,104.780151,51967449,0.0,0.0,NaN,NaN,NaN
2023-03-10 00:00:00+05:30,103.618088,104.925417,103.230729,104.683319,47699832,0.0,0.0,NaN,NaN,NaN
2023-03-13 00:00:00+05:30,104.828575,105.554870,102.988627,103.424408,34552596,0.0,0.0,NaN,NaN,NaN
2023-03-14 00:00:00+05:30,103.618083,105.119095,102.843365,103.037048,48584984,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00+05:30,162.449997,166.899994,161.449997,165.550003,59894921,0.0,0.0,52.601182,-0.497675,1.038441
2024-04-25 00:00:00+05:30,165.399994,168.000000,164.149994,167.699997,50128523,0.0,0.0,60.975620,-0.223973,0.894289
2024-04-26 00:00:00+05:30,168.000000,170.699997,165.250000,165.800003,65355111,0.0,0.0,55.970175,-0.196565,1.168796
2024-04-29 00:00:00+05:30,168.199997,169.600006,166.899994,167.399994,44906151,0.0,0.0,59.353323,-0.101157,0.808641
2024-04-30 00:00:00+05:30,168.399994,168.399994,164.500000,165.000000,55043389,0.0,0.0,49.549556,-0.223169,0.974708

In [11]:
ts_daily.dropna(inplace = True)

### Final Stock Data

We can see we have the stock data for Tata Steel from 28th April 2023 to 30th April 2024, i.e, almost exactly 1 year.

In [12]:
ts_daily

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal,RVOL
Date,,,,,,,,,,
2023-04-28 00:00:00+05:30,104.392802,105.070675,103.908606,104.538055,30072920,0.0,0.0,70.454503,0.065496,1.042293
2023-05-02 00:00:00+05:30,104.586482,107.346401,104.586482,106.813789,52822162,0.0,0.0,75.355442,0.225898,1.749699
2023-05-03 00:00:00+05:30,106.329588,107.491657,105.312772,106.232742,51272624,0.0,0.0,62.573013,0.273039,1.615386
2023-05-04 00:00:00+05:30,106.523269,108.363218,106.039072,107.540085,38636907,0.0,0.0,67.512651,0.366609,1.214707
2023-05-05 00:00:00+05:30,107.346397,107.346397,104.973836,105.215935,32958346,0.0,0.0,54.732502,0.251787,1.038699
...,...,...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00+05:30,162.449997,166.899994,161.449997,165.550003,59894921,0.0,0.0,52.601182,-0.497675,1.038441
2024-04-25 00:00:00+05:30,165.399994,168.000000,164.149994,167.699997,50128523,0.0,0.0,60.975620,-0.223973,0.894289
2024-04-26 00:00:00+05:30,168.000000,170.699997,165.250000,165.800003,65355111,0.0,0.0,55.970175,-0.196565,1.168796
2024-04-29 00:00:00+05:30,168.199997,169.600006,166.899994,167.399994,44906151,0.0,0.0,59.353323,-0.101157,0.808641
2024-04-30 00:00:00+05:30,168.399994,168.399994,164.500000,165.000000,55043389,0.0,0.0,49.549556,-0.223169,0.974708

In [13]:
ts_daily.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal,RVOL
count,247.000000,247.000000,247.000000,247.000000,2.470000e+02,247.000000,247.0,247.000000,247.000000,247.000000
mean,128.498423,129.764289,126.960398,128.314873,3.938473e+07,0.014575,0.0,58.485595,0.052641,1.032926
std,16.804393,17.166839,16.283168,16.682790,2.026211e+07,0.229063,0.0,15.570631,0.561745,0.431440
min,101.681296,101.874977,100.761327,101.342361,1.471945e+07,0.000000,0.0,24.454172,-1.026873,0.413228
25%,116.724998,117.949997,115.924999,116.900002,2.613694e+07,0.000000,0.0,47.232410,-0.423067,0.751525
50%,127.150002,128.300003,126.000000,127.000000,3.350218e+07,0.000000,0.0,59.444461,0.091062,0.927804
75%,136.925003,138.824997,134.950005,137.324997,4.582690e+07,0.000000,0.0,70.454523,0.423597,1.187979
max,168.399994,170.699997,166.899994,167.699997,1.669131e+08,3.600000,0.0,88.508563,1.407537,2.875778

### Creating our f(x)

In [14]:
def fx(RSI, RVOL, MACDS):
    fx = (RSI>70)*(70-RSI)/RVOL + (RSI<30)*(30-RSI)/RVOL +  RVOL*((RSI - 50)/10 + MACDS)
    return fx

In [15]:
ts_daily['F(x)'] = fx(ts_daily['RSI'], ts_daily['RVOL'], ts_daily['MACD - Signal'])

In [16]:
ts_daily

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal,RVOL,F(x)
Date,,,,,,,,,,,
2023-04-28 00:00:00+05:30,104.392802,105.070675,103.908606,104.538055,30072920,0.0,0.0,70.454503,0.065496,1.042293,1.764163
2023-05-02 00:00:00+05:30,104.586482,107.346401,104.586482,106.813789,52822162,0.0,0.0,75.355442,0.225898,1.749699,1.770915
2023-05-03 00:00:00+05:30,106.329588,107.491657,105.312772,106.232742,51272624,0.0,0.0,62.573013,0.273039,1.615386,2.472089
2023-05-04 00:00:00+05:30,106.523269,108.363218,106.039072,107.540085,38636907,0.0,0.0,67.512651,0.366609,1.214707,2.572597
2023-05-05 00:00:00+05:30,107.346397,107.346397,104.973836,105.215935,32958346,0.0,0.0,54.732502,0.251787,1.038699,0.753095
...,...,...,...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00+05:30,162.449997,166.899994,161.449997,165.550003,59894921,0.0,0.0,52.601182,-0.497675,1.038441,-0.246688
2024-04-25 00:00:00+05:30,165.399994,168.000000,164.149994,167.699997,50128523,0.0,0.0,60.975620,-0.223973,0.894289,0.781241
2024-04-26 00:00:00+05:30,168.000000,170.699997,165.250000,165.800003,65355111,0.0,0.0,55.970175,-0.196565,1.168796,0.468047
2024-04-29 00:00:00+05:30,168.199997,169.600006,166.899994,167.399994,44906151,0.0,0.0,59.353323,-0.101157,0.808641,0.674548
2024-04-30 00:00:00+05:30,168.399994,168.399994,164.500000,165.000000,55043389,0.0,0.0,49.549556,-0.223169,0.974708,-0.261430

In [17]:
ts_daily.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal,RVOL,F(x)
count,247.000000,247.000000,247.000000,247.000000,2.470000e+02,247.000000,247.0,247.000000,247.000000,247.000000,247.000000
mean,128.498423,129.764289,126.960398,128.314873,3.938473e+07,0.014575,0.0,58.485595,0.052641,1.032926,-0.737784
std,16.804393,17.166839,16.283168,16.682790,2.026211e+07,0.229063,0.0,15.570631,0.561745,0.431440,3.877759
min,101.681296,101.874977,100.761327,101.342361,1.471945e+07,0.000000,0.0,24.454172,-1.026873,0.413228,-21.148922
25%,116.724998,117.949997,115.924999,116.900002,2.613694e+07,0.000000,0.0,47.232410,-0.423067,0.751525,-1.522068
50%,127.150002,128.300003,126.000000,127.000000,3.350218e+07,0.000000,0.0,59.444461,0.091062,0.927804,0.033498
75%,136.925003,138.824997,134.950005,137.324997,4.582690e+07,0.000000,0.0,70.454523,0.423597,1.187979,1.326546
max,168.399994,170.699997,166.899994,167.699997,1.669131e+08,3.600000,0.0,88.508563,1.407537,2.875778,8.448100

### Our Trading Strategy

In [18]:
pred = np.zeros(len(ts_daily))
for i in range(len(ts_daily)):
    if ts_daily['F(x)'].iloc[i] < -1.5:
        pred[i] = -1 #Sell
    elif ts_daily['F(x)'].iloc[i] > 0.5:
        pred[i] = 1 #Buy
    else:
        pred[i] = 0 #Hold

In [19]:
count = 0
for i in range(len(ts_daily)):
    if pred[i] == 1:
        if count:
            pred[i] = 0
        else:
            count += 1
    if pred[i] == -1:
        if count:
            count -= 1
        else:
            pred[i]=0
pred

array([ 1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0., -1.,  0.,  0.,  1., -1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,
        1.,  0.,  0.,  0., -1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
        0., -1.,  0.,  0.,  1.,  0.,  0.,  0.,  0., -1.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0., -1.,  0.,
        0.,  0.,  0.,  1., -1.,  0.,  1.,  0.,  0.,  0.,  0.,  0., -1.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  1., -1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1., -1.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0., -1.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0., -1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0., -1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

### Creating signals for buy/hold/sell based on f(x)

In [20]:
ts_daily['Pred'] = pred
ts_daily

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal,RVOL,F(x),Pred
Date,,,,,,,,,,,,
2023-04-28 00:00:00+05:30,104.392802,105.070675,103.908606,104.538055,30072920,0.0,0.0,70.454503,0.065496,1.042293,1.764163,1.0
2023-05-02 00:00:00+05:30,104.586482,107.346401,104.586482,106.813789,52822162,0.0,0.0,75.355442,0.225898,1.749699,1.770915,0.0
2023-05-03 00:00:00+05:30,106.329588,107.491657,105.312772,106.232742,51272624,0.0,0.0,62.573013,0.273039,1.615386,2.472089,0.0
2023-05-04 00:00:00+05:30,106.523269,108.363218,106.039072,107.540085,38636907,0.0,0.0,67.512651,0.366609,1.214707,2.572597,0.0
2023-05-05 00:00:00+05:30,107.346397,107.346397,104.973836,105.215935,32958346,0.0,0.0,54.732502,0.251787,1.038699,0.753095,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00+05:30,162.449997,166.899994,161.449997,165.550003,59894921,0.0,0.0,52.601182,-0.497675,1.038441,-0.246688,0.0
2024-04-25 00:00:00+05:30,165.399994,168.000000,164.149994,167.699997,50128523,0.0,0.0,60.975620,-0.223973,0.894289,0.781241,0.0
2024-04-26 00:00:00+05:30,168.000000,170.699997,165.250000,165.800003,65355111,0.0,0.0,55.970175,-0.196565,1.168796,0.468047,0.0
2024-04-29 00:00:00+05:30,168.199997,169.600006,166.899994,167.399994,44906151,0.0,0.0,59.353323,-0.101157,0.808641,0.674548,0.0
2024-04-30 00:00:00+05:30,168.399994,168.399994,164.500000,165.000000,55043389,0.0,0.0,49.549556,-0.223169,0.974708,-0.261430,0.0

In [21]:
def calculate_returns(stock_data, initial_capital=100000):
    capital = initial_capital
    holding = False
    buy_price = 0
    sell_price = 0
    shares = 0
    portfolio = []

    for i in range(len(stock_data)):
        if stock_data['Pred'][i] == 1:
            buy_price = stock_data['Close'][i]
            shares = capital//buy_price
            capital -= shares*buy_price
            holding = True
            
        elif stock_data['Pred'][i] == -1 and holding:
            sell_price = stock_data['Close'][i]
            capital += shares*sell_price
            shares = 0
            holding = False
        current_worth = capital + shares*stock_data['Close'][i]
        portfolio.append(current_worth)
    return portfolio

In [22]:
ts_daily['Portfolio Return'] = calculate_returns(ts_daily)
ts_daily

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal,RVOL,F(x),Pred,Portfolio Return
Date,,,,,,,,,,,,,
2023-04-28 00:00:00+05:30,104.392802,105.070675,103.908606,104.538055,30072920,0.0,0.0,70.454503,0.065496,1.042293,1.764163,1.0,100000.000000
2023-05-02 00:00:00+05:30,104.586482,107.346401,104.586482,106.813789,52822162,0.0,0.0,75.355442,0.225898,1.749699,1.770915,0.0,102175.601654
2023-05-03 00:00:00+05:30,106.329588,107.491657,105.312772,106.232742,51272624,0.0,0.0,62.573013,0.273039,1.615386,2.472089,0.0,101620.120667
2023-05-04 00:00:00+05:30,106.523269,108.363218,106.039072,107.540085,38636907,0.0,0.0,67.512651,0.366609,1.214707,2.572597,0.0,102869.940125
2023-05-05 00:00:00+05:30,107.346397,107.346397,104.973836,105.215935,32958346,0.0,0.0,54.732502,0.251787,1.038699,0.753095,0.0,100648.052643
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00+05:30,162.449997,166.899994,161.449997,165.550003,59894921,0.0,0.0,52.601182,-0.497675,1.038441,-0.246688,0.0,147805.080116
2024-04-25 00:00:00+05:30,165.399994,168.000000,164.149994,167.699997,50128523,0.0,0.0,60.975620,-0.223973,0.894289,0.781241,0.0,149722.874672
2024-04-26 00:00:00+05:30,168.000000,170.699997,165.250000,165.800003,65355111,0.0,0.0,55.970175,-0.196565,1.168796,0.468047,0.0,148028.080116
2024-04-29 00:00:00+05:30,168.199997,169.600006,166.899994,167.399994,44906151,0.0,0.0,59.353323,-0.101157,0.808641,0.674548,0.0,149455.271950
2024-04-30 00:00:00+05:30,168.399994,168.399994,164.500000,165.000000,55043389,0.0,0.0,49.549556,-0.223169,0.974708,-0.261430,0.0,147314.477394

In [23]:
def calculate_sharpe(df):
    risk_free_rate = 0.052/len(df)
    sharpe_ratio = np.sqrt(len(df))*(np.mean((df['Portfolio Return'] - 100000)/100000) - (risk_free_rate))/np.std((df['Portfolio Return'] - 100000)/100000)
    return sharpe_ratio

In [24]:
def calculate_drawdowns(returns):
    max_return = returns.cummax()
    drawdowns = 100*(max_return - returns)/max_return
    return drawdowns

In [25]:
ts_daily['Drawdowns(%)'] = calculate_drawdowns(ts_daily['Portfolio Return'])
ts_daily

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD - Signal,RVOL,F(x),Pred,Portfolio Return,Drawdowns(%)
Date,,,,,,,,,,,,,,
2023-04-28 00:00:00+05:30,104.392802,105.070675,103.908606,104.538055,30072920,0.0,0.0,70.454503,0.065496,1.042293,1.764163,1.0,100000.000000,0.000000
2023-05-02 00:00:00+05:30,104.586482,107.346401,104.586482,106.813789,52822162,0.0,0.0,75.355442,0.225898,1.749699,1.770915,0.0,102175.601654,0.000000
2023-05-03 00:00:00+05:30,106.329588,107.491657,105.312772,106.232742,51272624,0.0,0.0,62.573013,0.273039,1.615386,2.472089,0.0,101620.120667,0.543653
2023-05-04 00:00:00+05:30,106.523269,108.363218,106.039072,107.540085,38636907,0.0,0.0,67.512651,0.366609,1.214707,2.572597,0.0,102869.940125,0.000000
2023-05-05 00:00:00+05:30,107.346397,107.346397,104.973836,105.215935,32958346,0.0,0.0,54.732502,0.251787,1.038699,0.753095,0.0,100648.052643,2.159900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00+05:30,162.449997,166.899994,161.449997,165.550003,59894921,0.0,0.0,52.601182,-0.497675,1.038441,-0.246688,0.0,147805.080116,0.000000
2024-04-25 00:00:00+05:30,165.399994,168.000000,164.149994,167.699997,50128523,0.0,0.0,60.975620,-0.223973,0.894289,0.781241,0.0,149722.874672,0.000000
2024-04-26 00:00:00+05:30,168.000000,170.699997,165.250000,165.800003,65355111,0.0,0.0,55.970175,-0.196565,1.168796,0.468047,0.0,148028.080116,1.131954
2024-04-29 00:00:00+05:30,168.199997,169.600006,166.899994,167.399994,44906151,0.0,0.0,59.353323,-0.101157,0.808641,0.674548,0.0,149455.271950,0.178732
2024-04-30 00:00:00+05:30,168.399994,168.399994,164.500000,165.000000,55043389,0.0,0.0,49.549556,-0.223169,0.974708,-0.261430,0.0,147314.477394,1.608570

### Metrics

In [26]:
print(f"Percentage Return on Investment in 1 year is : {100*(ts_daily['Portfolio Return'].iloc[-1]/ts_daily['Portfolio Return'].iloc[0] - 1):.2f} %")

Percentage Return on Investment in 1 year is : 47.31 %

In [27]:
print(f"Sharpe Ratio is : {calculate_sharpe(ts_daily):.2f}")

Sharpe Ratio is : 20.08

In [28]:
avg_drawdown = ts_daily['Drawdowns(%)'].mean()
print(f"Average Drawdown is : {avg_drawdown:.2f} %")

Average Drawdown is : 2.08 %

In [29]:
max_drawdown = ts_daily['Drawdowns(%)'].max()
print(f"Maximum Drawdown is : {max_drawdown:.2f} %")

Maximum Drawdown is : 9.41 %